<div class='container-left'>
    {{> sidebar }}
</div>
<div class='container-right'>
    {{! <div data-aos='zoom-in-left'> }}
    <div class='form-wrap'>
        {{! Header }}
        <div class='form-header'>
            <h1>Danh Sách Món Ăn ({{pages}})</h1>
            
            <div class='form-btn'>
                <a href="/foods/create">
                    <div class='btn btn-add-order'>
                        <span class='btn-icon-add'><ion-icon name='add-outline'></ion-icon></span>
                        Thêm món ăn
                    </div>
                </a>
            </div>
        </div>

        {{! Form Option }}
        <div class='form-action'>
            <div class='form-selected'>
                <h4 class='notify-checked'></h4>

                <select hidden class='form-select-option'>
                    <option value=''>Chọn thao tác</option>
                    <option value=''>Xóa</option>
                </select>
            </div>
            <div class='search'>
                <label for=''>
                    <input class='search-input' type='text' placeholder='Tìm kiếm theo tên món' />
                    <span class='search-delete'><ion-icon name='close-circle-outline'></ion-icon></span>
                    <div class='line'></div>
                    <span class='search-btn'>
                        <ion-icon class='search-icon' name='search-outline'></ion-icon>
                    </span>
                </label>
                <div class='filter-category form-selected'>
                    <select class='form-select-option'>
                        <option value=''>Lọc theo loại</option>
                        <option value=''>Món mặn</option>
                        <option value=''>Món nước</option>
                    </select>
                </div>
            </div>
        </div>

        {{! List Foods }}
        <div class='list-food'>
            <div class='form-heading'>
                <ul class='row list-heading'>
                    <li class='col-lg-1 list-item-heading'></li>
                    <li class='col-lg-1 list-item-heading'>Mã món</li>
                    <li class='col-lg-1 list-item-heading'>Ảnh</li>
                    <li class='col-lg-4 list-item-heading'>Tên món</li>
                    <li class='col-lg-1 list-item-heading'>Loại</li>
                    <li class='col-lg-2 list-item-heading btn-sort'>Đơn giá
                        <span class='nav-icon-sort'><ion-icon name='swap-vertical-outline'></ion-icon></span>
                    </li>
                    <li class='col-lg-2 list-item-heading'>Tác vụ</li>
                </ul>
            </div>

            {{#each foods}}
            <div class='form-des'>
                <ul class='row list-des'>
                    <li class='col-lg-1 list-item-des'><input
                            class='order-check'
                            type='checkbox'
                            name='food[]'
                        /></li>
                    <li class='col-lg-1 list-item-des'>{{id}}</li>
                    <li class='col-lg-1 list-item-des'>
                        <img
                            class='product-img'
                            src={{img}}
                            alt={{name}}
                        />
                    </li>
                    <li class='col-lg-4 list-item-des'>{{name}}</li>
                    <li class='col-lg-1 list-item-des'>{{type}}</li>
                    <li class='col-lg-2 list-item-des item-total'>{{price}}.000 đ</li>
                    <li class='col-lg-2 list-item-des'>
                        <div class='btn-wrap'>
                            <a href="#" data-bs-toggle='modal' data-bs-target='#delete-course-modal' data-id='{{_id}}'>
                                <span class='btn-delete'><ion-icon name="close-outline"></ion-icon></span> 
                            </a>
                            <a href="/foods/{{_id}}/edit">
                                <span class='btn-delete btn-edit'><ion-icon name="create-outline"></ion-icon></span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            {{/each}}
        </div>
    </div>
    <a class='food-trash' href="/foods/trash">
        <span class='icon-trash'><ion-icon name="trash"></ion-icon></span>
        <span class='icon-trash__number'>{{deletedCount}}</span>
    </a>
    <div id="paging" class="none"></div>
    {{! </div> }}
</div>

<!-- Modal Confirm Delete -->
<div class='modal fade' id='delete-course-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Xóa sản phẩm</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                Bạn có chắc muốn xóa sản phẩm này ?
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-outline' data-bs-dismiss='modal'>Hủy</button>
                <button id='btn-delete-food' type='button' class='btn btn-danger'>Xóa</button>
            </div>
        </div>
    </div>
</div>

<form name='delete-food-form' method='POST'></form>

<script>
var pages = {{pages}}
document.addEventListener('DOMContentLoaded', function() {
    var arrPage = []
    for(let i = 1; i <= pages; i++) {
        arrPage.push(i)
    }
    $('#paging').pagination({
        dataSource: arrPage,
        totalNumberLocator: function(res) {
            return res.total
        },
        pageSize: 5,
        showGoInput: true,
        showGoButton: true,
        // lấy ra vị trí page được active
        afterPageOnClick: function(e, pageNumber) {
            loadPage(pageNumber)
        },
        afterPreviousOnClick: function(e, pageNumber) {
            loadPage(pageNumber)
        },
        afterNextOnClick: function(e, pageNumber) {
            loadPage(pageNumber)
        },
        // nhập số trang trong ô input và nhấn Enter
        afterGoInputOnEnter: function(e, pageNumber) {
            loadPage(pageNumber)
        },
        // click button Go
        afterGoButtonOnClick: function(e, pageNumber) {
            loadPage(pageNumber)
        },
    })
})
function loadPage(page) {
    window.location.href='/foods?page=' + page
}

</script>