<div class='container-left'>
    {{> sidebar }}
</div>
<div class='container-right'>
    <div class='form-wrap'>
        <div class='form-header'>
            <a class='form-header-title' href='/foods'>
                Lịch Sử Đơn Đặt ({{total}})
            </a>
        </div>

        <div class='form-detail form-detail--order'>
            <table id='example' class='table ' style='width:100%'>
                <thead>
                    <tr>
                        <th class="list-item-heading--table">STT</th>
                        <th class="list-item-heading--table">Thời gian đặt</th>
                        <th class="list-item-heading--table">Tổng tiền</th>
                        <th class="list-item-heading--table">Phương thức TT</th>
                        <th class="list-item-heading--table">Trạng thái</th>
                        <th class="list-item-heading--table">Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each getPayment}}
                        <tr>
                            <td class="list-item-des">{{sum @index 1}}</td>
                            <td class="list-item-des day_value">{{createdAt}}</td>
                            <td class="list-item-des">
                                <div class="price-wrap">
                                    <h4>{{total}}</h4>
                                    <h4 class=" number-total">.000 đ</h4>
                                </div>
                            </td>
                            <td class="list-item-des">{{payment_Method}}</td>
                            <td class="list-item-des"><div class='btn-status'>{{confirm_Order}}</div></td>
                            <td class="list-item-des"><a class="btn-detail" href="/history/{{_id}}/detail">Nhấn để xem</a></td>
                        </tr>
                        {{else}}
                        <tr>
                            <div class="notify"> Chưa có đơn hàng nào. <a href="/home">Nhấn để tạo</a></div>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    </div> 
</div>