<div class='container-left'>
    {{> sidebar }}
</div>
<div class='container-right'>
    <div class='form-wrap'>
        <div class='form-header'>
            <a class='form-header-title' href='/foods'>
                Lịch sử Đơn Đặt ({{quantity}})
            </a>
        </div>

        <form action='/foods/handle-form-actions' method='POST'>
            <div class='form-action'>
                <div class='form-selected'>
                    <h4 class='notify-checked'></h4>
                    <select hidden required class='form-select-option' name='action'>
                        <option value=''>Chọn thao tác</option>
                        <option value='softDelete'>Xóa</option>
                    </select>
                    <button type='submit' hidden class='btn btn-danger btn-action-check'>Thực hiện</button>
                </div>
            </div>

            <div class='form-detail'>
                <div class='form-heading'>
                    <ul class='row list-heading'>
                        <li class='col-lg-1 list-item-heading'></li>
                        <li class='col-lg-1 list-item-heading'>STT</li>
                        <li class='col-lg-1 list-item-heading'>Ảnh</li>
                        <li class='col-lg-4 list-item-heading'>Tên món</li>
                        <li class='col-lg-1 list-item-heading'>Loại</li>
                        <li class='col-lg-2 list-item-heading btn-sort'>Đơn giá
                            <span class='nav-icon-sort'><ion-icon name='swap-vertical-outline'></ion-icon></span>
                        </li>
                        <li class='col-lg-2 list-item-heading'>Tác vụ</li>
                    </ul>
                </div>

                <div class='form-des__wrap'>
                    {{#each foods}}
                        <div class='form-des'>
                            <ul class='row list-des'>
                                <li class='col-lg-1 list-item-des'><input
                                        class='order-check'
                                        type='checkbox'
                                        name='food'
                                        value='{{_id}}'
                                    /></li>
                                <li class='col-lg-1 list-item-des'>{{sum @index 1}}</li>
                                <li class='col-lg-1 list-item-des'>
                                    <img class='product-img' src={{img}} alt={{name}} />
                                </li>
                                <li class='col-lg-4 list-item-des'>{{name}}</li>
                                <li class='col-lg-1 list-item-des item__type-food'>{{type}}</li>
                                <li class='col-lg-2 list-item-des item-total'>{{price}}.000 đ</li>
                                <li class='col-lg-2 list-item-des'>
                                    <div class='btn-wrap'>
                                        <a
                                            href='#'
                                            data-bs-toggle='modal'
                                            data-bs-target='#delete-course-modal'
                                            data-id='{{_id}}'
                                        >
                                            <span class='btn-delete'><ion-icon name='close-outline'></ion-icon></span>
                                        </a>
                                        <a href='/foods/{{_id}}/edit'>
                                            <span class='btn-delete btn-edit'><ion-icon
                                                name='create-outline'
                                            ></ion-icon></span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {{else}}
                        <tr>
                            <div class="notify">Lịch sử đơn hàng trống.</div>
                        </tr>
                    {{/each}}
                </div>
        </form>
    </div>
    </div> 
</div>