<div class='container-left'>
    {{> sidebar }}
</div>
<div class='container-right'>
    {{! <div data-aos='zoom-in-left'>   }}
    <div class='form-wrap'>
        {{! Header }}
        <div class='form-header'>
            <a class="form-header-title" href="/orders">Danh Sách Đơn Đặt ({{quantity}})</a>
            
            <div class='search'>
                <label for=''>
                    <input class='search-input' type='text' placeholder='Tìm kiếm theo tên, sđt khách hàng' />
                    <span class='search-delete'><ion-icon name='close-circle-outline'></ion-icon></span>
                    <div class='line'></div>
                    <span class='search-btn'>
                        <ion-icon class='search-icon' name='search-outline'></ion-icon>
                    </span>
                </label>
            </div>
        </div>

        {{! Order Overview }}
        <div class='order-overview hidden'>
            <div class='overview-header'>
                <div class='overview-header-title'>Đơn Hàng Cần Xử Lý</div>
                <div class='btn btn-hide-detail' onclick='hideDetail()'>Ẩn đơn hàng cần xử lý</div>
            </div>
            <ul class='overview-body'>
                <li class='overview-item'>
                    <div class='overview-title'>Tổng đơn hàng</div>
                    <div class='overview-des'>(20)</div>
                </li>
                <li class='overview-item'>
                    <div class='overview-title'>Chờ duyệt</div>
                    <div class='overview-des'>(10)</div>
                </li>
                <li class='overview-item'>
                    <div class='overview-title'>Đã duyệt</div>
                    <div class='overview-des'>(16)</div>
                </li>
                <li class='overview-item'>
                    <div class='overview-title'>Đang giao hàng</div>
                    <div class='overview-des'>(16)</div>
                </li>
                <li class='overview-item'>
                    <div class='overview-title'>Đã giao hàng</div>
                    <div class='overview-des'>(16)</div>
                </li>
            </ul>
        </div>

        {{! Form Option }}
        <div class='form-action'>
            <div class='form-selected'>
                <h4 class='notify-checked'></h4>

                <select hidden class='form-select-option'>
                    <option value=''>Chọn thao tác</option>
                    <option value=''>Hủy đơn</option>
                </select>
            </div>
            <div class='form-btn'>
                <div class='btn btn-show-detail' onclick='showDetail()'>
                    Hiển thị đơn hàng cần xử lý
                </div>
                <a href="/home" class='btn btn-add-order'>
                    <span class='btn-icon-add'><ion-icon name='add-outline'></ion-icon></span>
                    Tạo đơn
                </a>
            </div>
        </div>

        {{! List Order }}
        <div class='form-detail'>
            <div class='form-heading'>
                <ul class='row list-heading'>
                    <li class='col-lg-1 list-item-heading'>STT</li>
                    <li class='col-lg-4 list-item-heading btn-sort'>Ngày tạo
                        <span class='nav-icon-sort'><ion-icon name='swap-vertical-outline'></ion-icon></span>
                    </li>
                    <li class='col-lg-2 list-item-heading'>Trạng thái</li>
                    <li class='col-lg-2 list-item-heading'>Tổng tiền</li>
                    <li class='col-lg-2 list-item-heading'>Chi tiết</li>
                </ul>
            </div>
            <div class='form-des__wrap'>
                    {{#each getOrder}}
                        <div class='form-des'>
                            <ul class='row list-des'>
                                <li class='col-lg-1 list-item-des'>{{sum @index 1}}</li>
                                <li class='col-lg-4 list-item-des day_value'>{{createAt}}</li>
                                {{!-- ten, sdt, diachi, chi tiet don hang, tim kiem khach hang --}}
                                <li class='col-lg-2 list-item-des'><div class='btn-status btn-status--red'>Đã duyệt</div></li>
                                <li class='col-lg-2 list-item-des'>
                                    <div class="price-wrap">
                                        <h4>{{total}}</h4>
                                        <h4 class=" number-total">.000 đ</h4>
                                    </div>
                                </li>
                                <li class='col-lg-2 list-item-des'>
                                    <a class="btn-detail" href="/dsd">Nhấn để xem chi tiết</a>
                                </li>
                            </ul>
                        </div>
                        {{else}}
                        <tr>
                            <div class="notify"> Chưa có đơn hàng nào. <a href="/home">Nhấn để tạo</a></div>
                        </tr>
                    {{/each}}
                </div>
        </div>
    </div>
    {{! </div>  }}
</div>
